In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [40]:
path = r"C:\Users\Ivo\Desktop\data projects\spam\emails.csv"

In [41]:
test_df = pd.read_csv(path)

In [42]:
test_df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [43]:
test_df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [44]:
target = test_df.pop('Prediction')

In [45]:
mail_number = test_df.pop('Email No.')

In [46]:
test_df.tail()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [47]:
test_df.dtypes

the               int64
to                int64
ect               int64
and               int64
for               int64
                  ...
infrastructure    int64
military          int64
allowing          int64
ff                int64
dry               int64
Length: 3000, dtype: object

In [48]:
print(target)

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [49]:
features = test_df

In [56]:
from sklearn.metrics import accuracy_score

In [50]:
print(features)

      the  to  ect  and  for  of    a  you  hou  in  ...  enhancements  \
0       0   0    1    0    0   0    2    0    0   0  ...             0
1       8  13   24    6    6   2  102    1   27  18  ...             0
2       0   0    1    0    0   0    8    0    0   4  ...             0
3       0   5   22    0    5   1   51    2   10   1  ...             0
4       7   6   17    1    5   2   57    0    9   3  ...             0
...   ...  ..  ...  ...  ...  ..  ...  ...  ...  ..  ...           ...
5167    2   2    2    3    0   0   32    0    0   5  ...             0
5168   35  27   11    2    6   5  151    4    3  23  ...             0
5169    0   0    1    1    0   0   11    0    0   1  ...             0
5170    2   7    1    0    2   1   28    2    0   8  ...             0
5171   22  24    5    1    6   5  148    8    2  23  ...             0

      connevey  jay  valued  lay  infrastructure  military  allowing  ff  dry
0            0    0       0    0               0         0         0   0    0
1            0    0       0    0               0         0         0   1    0
2            0    0       0    0               0         0         0   0    0
3            0    0       0    0               0         0         0   0    0
4            0    0       0    0               0         0         0   1    0
...        ...  ...     ...  ...             ...       ...       ...  ..  ...
5167         0    0       0    0               0         0         0   0    0
5168         0    0       0    0               0         0         0   1    0
5169         0    0       0    0               0         0         0   0    0
5170         0    0       0    0               0         0         0   1    0
5171         0    0       0    0               0         0         0   0    0

[5172 rows x 3000 columns]

In [51]:
(X_train,X_test,y_train,y_test) = train_test_split(features,target,test_size=0.3,random_state=42)

In [52]:
nb = GaussianNB()

In [53]:
fit = nb.fit(X_train,y_train)

In [58]:
prediction = fit.predict(X_test)

In [59]:
eval = accuracy_score(prediction,y_test)

In [60]:
print(eval)

0.9490979381443299

In [79]:
models = {'knn':KNeighborsClassifier(n_neighbors=3),
         'svc':SVC(gamma='auto'),
         'RF':RandomForestClassifier(n_estimators=100)}

In [82]:
for name, model in models.items():
    fit2 = model.fit(X_train,y_train)
    pred2 = fit2.predict(X_test)

    score = accuracy_score(pred2,y_test)
    print(score)

0.8621134020618557
0.8949742268041238
0.9768041237113402